@import "~reset-css";
@import "variables/colors";
{{#if_eq need_responsiveReady true}}
@import "variables/responsive-variables";
@import "utilities/responsive-mixins";
{{/if_eq}}
{{#if_eq install_spacetabVueComponents true}}
@import "~@spacetabs/vue-components/src/assets/scss/themes/default.theme";
{{/if_eq}}

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

// stylelint-disable selector-max-type
body,
html {
  width: 100%;
  height: 100%;
}
